@import url('https://fonts.googleapis.com/css?family=Fresca');

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size:24px;
    font-family: 'fantasy', sans-serif;
}
.container{
    padding:150px 0px 0px 0px;
}
.info-matiere{
    border:2px solid black;
    padding: 3px;
    padding-left: 15px;
    border-radius: 3px;
}
.table-matiere{
    margin: 13px 0px 5px 0px;
    padding: 0px;
}
/* ————————————————————–
  table style
*/
.table{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: -1;
  text-align: center;
}

.table thead td,.table thead td input{
  background-color: #337ab7;
  padding: 10px;
  color: white;
  margin-left: 5px;
  width: 100%;
}

tbody tr:nth-child(odd),tbody tr:nth-child(odd) td input{
  background-color: #f2e5e5;
}

.table tr{
  font-family: "Rubik",sans-serif;
}

.table tr:hover td,.table tr:hover td input{
  background-color: #c2c2c2 !important;
}

tr:hover,tr:nth-child(odd):hover,tr:focus,tr:visited{
  background-color:#212121;
  color: white;
}
table *{
    text-align: center;
}
table i{/*icons style */
    position: absolute;
    padding: 8px 0px 8px 0px;   
}
table i:last-child{
    right: 9px;
}
table td{
    position: relative;
}
td input{
    width: 100%;
}
tbody td:hover{
    cursor: context-menu;
}
.small-box{
    height:34px;
}
.valide{
    background-color: #bbffc6;
}
.ratt{
    background-color: #FFF1BB;
}
.elim{
    background-color: #da7e7e;
}
.nv{
    background-color: #ffc0bb;
}

