/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
body{
  margin:0px;
  font-size: 13px;
}
.table{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: -1;
  text-align: center;
  margin: 0px auto;
  float: none;
}

.table thead td{
  background-color: #337ab7;
  padding: 10px;
  color: white;
  width: 100%;
}
tbody tr:nth-child(even){background-color: #f2f2f2}
td, tr {
    padding: 5px 25px;
}
